@font-face {
    font-family: 'Quattrocento';
    font-style: normal;
    font-weight: 400;
    src: local('Quattrocento'), url('https://fonts.cdnfonts.com/s/19966/Quattrocento-Regular.woff') format('woff');
}