<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Adobe+Blank:wght@400&display=swap" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Abril+Fatface:wght@400&display=swap" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Aladin:wght@400&display=swap" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400&display=swap" />
	<link rel="stylesheet" href="{{ url_for('static', filename='/css/style3.css') }}">
  </head>
  <body>
    <div class="main-container">
      <div class="abstract-empty-smooth-light-pink">
        <div class="line-stroke"></div>
        <div class="auto-layer-row-dec">
          <span class="compre-duzias-de-cupcakes"
            >COMPRE 2 DÚZIAS DE CUPCAKES, GANHE 1 DÚZIA DE GRAÇA</span
          >
          <div class="line-stroke-1"></div>
          <div class="line-stroke-2"></div>
        </div>
        <div class="auto-layer-row">
          <div class="regroup-i">
            <div class="search"></div>
            <div class="cart"></div>
            <div class="login"></div>
          </div>
          <div class="cupcakes-cupcakes"></div>
          <div class="sobre"></div>
          <div class="empresa"></div>
        </div>
        <div class="auto-layer-row-3">
          <div class="button"></div>
          <div class="button-4"></div>
          <div class="button-5"></div>
          <div class="button-6"></div>
          <div class="button-7"></div>
          <span class="todos">TODOS</span
          ><span class="chocolate">CHOCOLATE</span
          ><span class="baunilha">BAUNILHA</span
          ><span class="vel-vermelho">VEL. VERMELHO</span
          ><span class="duzia">DÚZIA</span>
        </div>
        <div class="auto-layer-row-f">
          <div class="cupcake-bg">
            <div class="choco-vanilla"></div>
            <span class="chocolate-baunilha">Chocolate<br />Baunilha</span>
          </div>
          <div class="cupcake-bg-8">
            <div class="image"></div>
            <span class="chocolate-toffee">Chocolate<br />Toffee</span>
          </div>
          <div class="cupcake-bg-9">
            <div class="image-a"></div>
            <span class="baunilha-coconut">Baunilha<br />Coconut</span>
          </div>
          <div class="cupcake-bg-b">
            <div class="image-c"></div>
            <span class="baunilha-caramel">Baunilha<br />Caramel</span>
          </div>
          <div class="cupcake-bg-d">
            <div class="image-e"></div>
            <span class="baunilha-choco-ganache"
              >Baunilha Choco<br />Ganache</span
            >
          </div>
          <div class="scroll-bar"></div>
          <span class="qtd">QTD</span>
          <div class="rectangle-stroke"></div>
          <span class="qtd-f">QTD</span>
          <div class="rectangle-stroke-10"></div>
          <span class="qtd-11">QTD</span>
          <div class="rectangle-stroke-12"></div>
          <span class="qtd-13">QTD</span>
          <div class="rectangle-stroke-14"></div>
          <span class="qtd-15">QTD</span>
          <div class="rectangle-stroke-16"></div>
          <div class="cart-17"></div>
          <div class="cart-18"></div>
          <div class="cart-19"></div>
          <div class="cart-1a"></div>
          <div class="cart-1b"></div>
          <div class="add-to-cart"></div>
          <div class="add-to-cart-1c"></div>
          <div class="add-to-cart-1d"></div>
          <div class="add-to-cart-1e"></div>
          <div class="add-to-cart-1f"></div>
        </div>
        <div class="rectangle"></div>
        <div class="line"></div>
        <div class="mask-group"></div>
        <div class="line-20"></div>
        <span class="doces-delicias">Doces Delícias</span>
      </div>
    </div>
  </body>
</html>