<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/global.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css') }}">
  </head>
  <body>
    <div class="HOMEPAGE">
      <div class="overlap-group-wrapper">
        <div class="overlap-group">
          <img
            class="abstract-empty"
            src="https://c.animaapp.com/4eEYdl5O/img/abstract-empty-smooth-light-pink-studio-room-background-use-as-m.png"
          />
          <img class="bg" src="https://c.animaapp.com/4eEYdl5O/img/bg-1.png" />
          <div class="rectangle"></div>
          <img class="line" src="https://c.animaapp.com/4eEYdl5O/img/line-2.svg" />
          <img class="img" src="https://c.animaapp.com/4eEYdl5O/img/line-2.svg" />
          <div class="logo"></div>
          <div class="div"></div>
          <div class="logo-2"></div>
          <a href="http://127.0.0.1:5000/sobre"> <img class="SOBRE" src="https://c.animaapp.com/4eEYdl5O/img/sobre.svg" /></a>
          <img class="SHOP" src="https://c.animaapp.com/4eEYdl5O/img/shop.svg" />
          <img class="EMPRESA" src="https://c.animaapp.com/4eEYdl5O/img/empresa.svg" />
          <p class="text-wrapper" style="left: 1079px; top:43px">COMPRE 2 DÚZIAS DE CUPCAKES, GANHE 1 DÚZIA DE GRAÇA</p>
          <img class="search" src="https://c.animaapp.com/4eEYdl5O/img/search-1@2x.png" />
          <div class="text-wrapper-2">Cupcakes</div>
          <div class="text-wrapper-3">Doces</div>
          <div class="rectangle-2"></div>
          <p class="somos-movidos-por" style="top: 718px;">Somos movidos por amar o que fazemos <br />e o que fazemos diariamente.</p>
          <div class="group">
            <img class="cupcake-icon" src="https://c.animaapp.com/4eEYdl5O/img/cupcake-icon-1-1@2x.png" />
            <a href="http://127.0.0.1:5000/compras"><div class="text-wrapper-4">Comprar</div></a>
          </div>
          <img class="button" src="https://c.animaapp.com/4eEYdl5O/img/button-4@2x.png" />
          <img class="button-2" src="https://c.animaapp.com/4eEYdl5O/img/button-4@2x.png" />
          <img class="button-3" src="https://c.animaapp.com/4eEYdl5O/img/button-4@2x.png" />
          <img class="button-4" src="https://c.animaapp.com/4eEYdl5O/img/button-4@2x.png" />
          <img class="login" src="https://c.animaapp.com/4eEYdl5O/img/login-1-1.svg" />
          <img class="cart" src="https://c.animaapp.com/4eEYdl5O/img/cart-1-1.svg" />
          <img class="MENU" src="https://c.animaapp.com/4eEYdl5O/img/menu-1.svg" />
          <img class="eventos-corp" src="https://c.animaapp.com/4eEYdl5O/img/eventos-corp-.svg" />
          <img class="delivery" src="https://c.animaapp.com/4eEYdl5O/img/delivery.svg" />
          <img class="FA-qs" src="https://c.animaapp.com/4eEYdl5O/img/faqs.svg" />
          <img class="contato" src="https://c.animaapp.com/4eEYdl5O/img/contato.svg" />
        </div>
      </div>
    </div>
  </body>
</html>
