<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/global.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/style2.css') }}">
    </head> <body> <div class="ABOUT-PAGE"> <div class="overlap-group-wrapper">
    <div class="overlap-group">
        <img class="img" src="img/abstract-empty-smooth-light-pink-studio-room-background-use-as-montage-product-display-banner-template-1.png" />
        <img class="img" src="img/deva-williamson-s2jw81lfrg0-unsplash-1.png" />
        <div class="rectangle"></div> <img class="line" src="img/line-1.svg" />
        <img class="line-2" src="img/line-2.svg" />
        <div class="TORONTO-CUPCAKES">
            <div class="text-wrapper">CUPCAKES CUPCAKES</div>
        </div> <div class="logo"></div>
        <div class="div"></div>
        <div class="logo-2"></div>
        <div class="SHOP"><div class="text-wrapper-3">SHOP</div></div>
        <div class="COMPANY"><div class="text-wrapper-3">EMPRESA</div></div>
        <div class="BURGER"></div>
        <p class="p">COMPRE 2 DÚZIAS DE CUPCAKES, GANHE 1 DÚZIA DE GRAÇA</p>
        <img class="button" src="https://c.animaapp.com/4eEYdl5O/img/button-4@2x.png" />
        <img class="button-2" src="https://c.animaapp.com/4eEYdl5O/img/button-4@2x.png" />
       <img class="button-3" src="https://c.animaapp.com/4eEYdl5O/img/button-4@2x.png" />
        <img class="button-4" src="https://c.animaapp.com/4eEYdl5O/img/button-4@2x.png" />
        <div class="text-wrapper-5">CUPCAKES DOCES</div>
        <div class="text-wrapper-7">Sobre Michelle</div>
        <p class="we-are-driven-by"> <span class="span">Somos movidos por amar o que fazemos e o que fazemos diariamente.</span>
            <span class="text-wrapper-8"> Podemos usar os melhores ingredientes para fazer o que acreditamos ser as delícias mais saborosas do mercado. E... adoramos a ideia de que as nossas guloseimas deixam as pessoas felizes cada vez que mordem uma. Quão divertido é aquilo!</span >
        </p> <p class="toronto-cupcakes"> <span class="text-wrapper-9">Cupcakes Doces</span>
        <span class="text-wrapper-10"> orgulha-se da sua qualidade e sabor para oferecer iguarias que merecem os seus entes queridos. Os nossos doces, porém deliciosos confeitos, certamente farão com que clientes, como você, venham em busca de mais. </span> </p>
        <p class="toronto-cupcake-was"> <span class="text-wrapper-8">O Cupcake Doces foi criado por</span>
            <span class="text-wrapper-11">Michelle Sampaio</span>
            <span class="text-wrapper-8"> para que ela pudesse seguir o seu amor pela culinária. Confeiteira de longa data, inspirada por sua mãe, Michelle abriu o Cupcakes Doces em agosto de 2010 na cidade de São Paulo, Brasil.</span > </p>
        <div class="login"></div>
        <div class="cart"></div>
        <div class="BURGER-2"> <img class="line-3" src="img/line-3.svg" />
            <img class="line-4" src="img/line-4.svg" />
            <img class="line-5" src="img/line-5.svg" /></div>
        <div class="corp-events"><div class="text-wrapper-12"><img src="https://c.animaapp.com/4eEYdl5O/img/eventos-corp-.svg" /></div></div>
        <div class="delivery"><div class="text-wrapper-12"><img src="https://c.animaapp.com/4eEYdl5O/img/delivery.svg" /></div></div>
        <div class="FA-qs"><div class="text-wrapper-12"><img src="https://c.animaapp.com/4eEYdl5O/img/faqs.svg" /></div></div>
        <div class="contact"><div class="text-wrapper-12"><img src="https://c.animaapp.com/4eEYdl5O/img/contato.svg" /></div></div>
    </div>
</div>
</div>
</body>
</html>